<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title style="margin-left: -20px;">
    <img width="20" height="20" src="https://img.icons8.com/android/24/737373/sofa.png" alt="sofa"/>

    <span style="color: #3E976C; margin-left: 4px;">Chic</span>
    <span>Chair</span>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <div class="profile-container">
    <div class="profile-image">
      <img src="../../../assets/images/6aee3c0aad2c07b84a2031ae99d7021a.jpg" alt="Profile Picture">
    </div>
    <div class="profile-details">
      <div class="profile-data">
        <h6 class="dataDesign">Full Name</h6>
        <h2>Khadraoui Feryel</h2>
        <hr class="separator">
        <h6 class="dataDesign">E-mail</h6>
        <h2>khadraouiferyel09</h2>
        <hr class="separator">
        <h6 class="dataDesign">Birthday </h6>
        <h2>20/11/2001</h2>
        <hr class="separator">
      </div>
      <div class="circle-container">
        <ion-img src="../../../assets/icon/edit.png" class="custom-icon"></ion-img>
      </div>
    </div>
    <div class="rectangle-container">
      <div class="rectangle"></div>
    </div>
  </div>
</ion-content>
