
.toolbar-transparent {
    background-color: #E2F0E9;
}
  ion-content {
    background-color: #E2F0E9;
  }
  
  
  /* toolbar CSS */


  .circle-container-nav {
    position: absolute;
    bottom: 5px; 
    right: 0px;
    left: 20px;
    top: -7px; 
    width: 15px; 
    height: 15px;
    background-color: #3E976C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar-icon {
    width: 30px;
    height: 30px;
    margin-right: -300px;
  }

  ion-searchbar {
    --border-radius: 15px; 
  }

  .container {
    display: flex;
    align-items: center; /* Pour aligner les éléments verticalement */
    column-gap: 100px;
    margin-top: 40px;
  }
  .text-left{
    margin-left: 20px;
  }
  .image-style-home-header{
    border-radius: 50%; 
    width: 121px;
  }

  .line {
    height: 60px; /* Hauteur de la ligne */
    width: 0.6px; /* Largeur de la ligne */
    background-color: #989898; /* Couleur de la ligne */
    margin-right: 10px; /* Marge à droite de la ligne */
    filter: blur(0.7px);
  }
  .pDesign p{
    color: #989898;
    font-size: 12px;
  }


/*rectangle design*/


  .rectangle {
    // position: absolute;
    margin-left: 13px;
    width: 333px;
    background-color: white;
    border-radius: 15px;
    border-top-left-radius: 0px;
  }
  .littleRectangle,
  .littleRectangleLeft,
  .littleRectangleRight {
  background-color: white;
  width: 55px;
  height: 55px;
}

.littleRectangleLeft {
  margin-left: 13px;
}
.littleRectangleRight {
  margin-left: 1px;
}

.littleRectangleLeft i {
  width: 37px;
  height: 100px;
}
  
.cercle{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #C4C4C4;
  filter: brightness(1.2);
  margin-left: 22px;
  
}




      /* Card style */
ion-card{
  width: 130px;
  height: 150px;
}

.card-style{
  width: 130px;
  height: 150px;
  margin-left: 27px;
  cursor: pointer;
}

.card-style p{
  font-size: 8px;
  margin-top: -2px;
}
.card-icons{
  margin-top: -10px;
}
.cards {
  gap: 20px; /* Espace entre les cartes */
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
  margin-bottom: 50px;
  row-gap: 20px;
}
