.custom-searchbar {
  background-color: #FFFFFF;
  height: 45px;
  width: 186px;
  border-radius: 20px;
  position: absolute;
  left: 15px;
  top: 48px;
  margin-top: 20px;
}

.bouton-blanc {
  position: absolute;
  background-color: #fff;
  /* Couleur blanche */
  left: 250px;
  top: 33px;
  margin-top: 30px;
  color: #000;
  /* Couleur du texte, ajustez si nécessaire */
  border-radius: 50%;
  /* Pour rendre le bouton rond */
  width: 100px;
  /* Ajustez la taille selon vos besoins */
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre avec un flou de 10px */
}

.form {
  padding: 20px;
}

.form-item {
  margin-bottom: 25px;
}

.form-label {
  font-weight: bold;
}

.form-input,
.form-textarea,
.form-file {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-input,
.form-textarea,
.form-file {
  border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
}

.form-submit {
  margin-top: 20px;
}

.element {
  width: 333px;
  height: 530px;
  border-radius: 20px;
  margin-left: 13px; /* Décalage horizontal */
  margin-top: 80px; /* Décalage vertical */
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre avec un flou de 10px */

}

.titre {
  font-family: 'Inder', sans-serif; /* Utilisation de la police Inder */
  font-size: 20px; /* Taille de la police */
  font-weight: bold; /* Gras */
  position: absolute;
  left: 29px; /* Décalage horizontal */
  top: 145px; /* Décalage vertical */
  
}

.article-list {
  display: flex;
  flex-direction: column;
}

.article-row {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 5px; /* Espacement entre chaque article */
}

.article-image {
  width: 55px;
  height: 55px;
  margin-right: 10px; /* Espacement entre l'image et les détails de l'article */
  margin-left: 10px;
}

.article-title {
  font-weight: bold;
}

.article-details {
  flex-grow: 1; /* Permet aux détails de l'article de prendre autant d'espace que possible */
}


.article-edit-button {
  width: 22px;
  height: 23px;
}

.pagination-buttons {
  display: flex;
  justify-content: flex-end; /* Aligner les boutons à droite */
  position: absolute;
  bottom: 83px; /* Ajustez la distance par rapport au bas */
  right: 40px; 
}

.pagination-buttons button {
  margin-left: 5px; /* Espacement entre les boutons */
}





