.custom-tab-bar {
    background-color: #3E976C;
    border-radius: 50px;
  }
.custom-button{
    background-color: #3E976C;
}
.custom-icon{
    width: 35px; 
    height: 35px;
}
.custom-icon-active{
    width: 45px; 
    height: 45px;
    margin-top: -10px;
}