.card-style{
    width: 30%;
    height: 20%;
}
.toolbar-transparent {
    background-color: #E2F0E9;
}
  ion-content {
    background-color: #E2F0E9;
  }
  
  
  /* toolbar CSS */


  .circle-container-nav {
    position: absolute;
    bottom: 5px; 
    right: 0px;
    left: 20px;
    top: -7px; 
    width: 15px; 
    height: 15px;
    background-color: #3E976C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar-icon {
    width: 30px;
    height: 30px;
    margin-right: -300px;
  }