<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title style="margin-left: -20px;">
    <span style="color: #3E976C;">Chic</span>
    <span>Chair</span>
  </ion-title>
  <ion-buttons slot="primary" style="margin-right: 50px;">
    <div class="circle-container-nav">
      <p style="color: white;">0</p>
    </div>
    <ion-img src="../../../assets/icon/icons8-shopping-cart-24.png" class="toolbar-icon"></ion-img>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">

  <ion-searchbar value=""></ion-searchbar>

  <div class="container">
    <div class="text-left">
      <div style="align-items: center; display: flex;">
        <div class="line"></div>
        <div class="pDesign">
          <p>CHAIR DESIGN</p> 
          <p style="margin-top: -5px;">2024</p>
        </div>
      </div>
      <p style="margin-left: 13px; font-size: 13px;">WOODEN CHAIR</p>
      <p style="margin-left: 17px; font-size: 13px; color: #989898; margin-top: 30px;">From Price</p>
      <p style="margin-left: 17px; font-size: 13px; color: #989898; margin-top: -7px;">$99.00</p>
    </div>
    <div class="image-right">
      <img class="image-style-home-header" src="../../../assets/images/green.png" alt="Image">
    </div>
  </div>


  <!--rectange-->
  <div style="align-items: center; display: flex;">
    <div class="littleRectangleLeft">
      <i style="margin-top: 10px; margin-left: 17px;" class="fas fa-chevron-left fa-2x"></i>
    </div>
    <div class="littleRectangleRight">
      <i style="margin-top: 10px; margin-left: 17px;" class="fas fa-chevron-right fa-2x"></i>
    </div>
  </div>
  <div class="rectangle">
    <div style="height: 20px; width: 100%;"></div>
    <div>
      <div style="display: flex; align-items: center;">
        <div class="cercle">
          <img style="width: 40px; margin-left: 11px; margin-top: 10px;" src="../../../assets/images/icons8-hotline-50.png">
        </div>
        <div style="margin-left: 10px;">
          <p style="font-size: 15px; color: gray; filter: brightness(0.6);">24 X 7 FREE SUPPORT</p>
          <p style="font-size: 10px; color: gray; filter: brightness(0.9); letter-spacing: 1px;">Passage Of Lorem Ipsum,You Need To Be</p>
          <p style="font-size: 13px; color: gray; filter: brightness(0.9);letter-spacing: 1px;">Read More</p>
        </div>
      </div>


      <div style="display: flex; align-items: center;">
        <div class="cercle">
          <img style="width: 40px; margin-left: 11px; margin-top: 10px;" src="../../../assets/images/icons8-protection-50.png">
        </div>
        <div style="margin-left: 10px;">
          <p style="font-size: 15px; color: gray; filter: brightness(0.6);">MONEY BACK GUARANTY</p>
          <p style="font-size: 10px; color: gray; filter: brightness(0.9); letter-spacing: 1px;">Passage Of Lorem Ipsum,You Need To Be</p>
          <p style="font-size: 13px; color: gray; filter: brightness(0.9);letter-spacing: 1px;">Read More</p>
        </div>
      </div>
    </div>

    <div>
      <p style="margin-left: 72px; letter-spacing: 2px;">POPULAR PRODUCTS</p>
      <div style="display: flex; align-items: center;">
        <div style="width: 67px; height: 2px; background-color: #3E976C; margin-left: 85px;"></div>
        <img style="width: 25px; margin-left: 2px; margin-right: 2px;" src="../../../assets/images/crosshair.png">
        <div style="width: 67px; height: 2px; background-color: #3E976C;"></div>


      </div>
    </div>

    <div style="height: 20px; width: 100%;"></div>
    <div class="cards">
      <div style="width: 130px; height: 180px;" *ngFor="let produit of produits" routerLink = "/product-details/{{produit.id}}">
        <div class="card-style">
          <img *ngIf="produit.imageUrl" alt="Product pic" [src]="produit.imageUrl" style="width: 130px; height: 130px;" />
          <img *ngIf="!produit.imageUrl" alt="Product pic" src="https://th.bing.com/th/id/OIP.F00dCf4bXxX0J-qEEf4qIQHaD6?rs=1&pid=ImgDetMain" style="width: 130px; height: 130px;" />
          <p>{{produit.title}}</p>
          <p *ngIf="produit.price" style="font-size: 12px; color: #3E976C; margin-top: -5px;">$ {{produit.price}}.00</p>
          <p *ngIf="!produit.price" style="font-size: 12px; color: #3E976C; margin-top: -5px;">$ {{produit.price}}00.00</p>
          <div class="card-icons">
            <img style="width: 16px; height: 16px; margin-right: 7px;" src="../../../assets/images/icons8-heart-48.png" >
            <img style="width: 16px; height: 16px; margin-right: 7px;" src="../../../assets/images/icons8-basket-80.png" >
            <img style="width: 16px; height: 16px;" src="../../../assets/images/icons8-eye-48.png" >
          </div>
        </div>
      </div>
    </div>
    <div style="height: 20px; width: 100%;"></div>
    
    <div style="height: 500px; width: 307px; background-color: #F5F5F5 ; margin-left: 14px;">
      <img style="height: 215px; width: 215px; margin-left: 50px; margin-top: 20px;" src="../../../assets/images/designer.png">
      <pre style="font-size: 10px; line-height: 2; color: gray; filter: brightness(0.6);">
 Mr. John Duo is a furniture designer, specializing in
    the creation of unique and functional pieces
      of furniture. As such, he has expertise 
  in designing different types of furniture. His work 
   may include designing furniture for residential, 
            commercial, or public spaces.
      </pre>
      <p style="margin-left: 100px;">Mr. John Duo</p>
      <p style="margin-left: 115px; color: gray; filter: brightness(0.4);">-Designer-</p>
    </div>
    
    <div style="height: 20px; width: 100%;"></div>
  </div>

  
</ion-content>
