<ion-tabs>
  <ion-tab-bar class="custom-tab-bar">
    <ion-tab-button tab="profile" class="custom-button" (click)="activeTab('profile','home','settings')">
      <ion-img *ngIf="!isSelected.profile" src="../../../assets/icon/user.png" class="custom-icon"></ion-img>
      <ion-img *ngIf="isSelected.profile" src="../../../assets/icon/account.png" class="custom-icon-active"></ion-img>
    </ion-tab-button>
    <ion-tab-button tab="home" class="custom-button" (click)="activeTab('home','profile','settings')">
      <ion-img *ngIf="!isSelected.home" src="../../../assets/icon/home.png" class="custom-icon"></ion-img>
      <ion-img *ngIf="isSelected.home" src="../../../assets/icon/home (2).png" class="custom-icon-active"></ion-img>
    </ion-tab-button>
    <ion-tab-button tab="settings" class="custom-button" (click)="activeTab('settings','profile','home')">
      <ion-img *ngIf="!isSelected.settings" src="../../../assets/icon/setting.png" class="custom-icon"></ion-img>
      <ion-img *ngIf="isSelected.settings" src="../../../assets/icon/settings1.png" class="custom-icon-active"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


